@CHARSET "UTF-8";
* {
	margin:0px;
	padding:0px;
}

body, button, input, select, textarea {
    font: 12px/1.125 Arial,Helvetica,san-serif;
}

a {
	text-decoration: none;
	border: none;
}

li {
    list-style: none outside none;
}

.orangediv {
	border: orange solid 1px;	
}

#search {
	display: inline-block;
}

#search input {
	height:40px;
}

#find {	
	font:15px bolder;
}

#add {
	display:inline-block;
	margin-top:20px;
	font-size :16px;
}

#add input[type="text"] {
	height:40px;
	font:16px bolder;
}

#result {
	font-size: 18px;
}

#result table td {
	border:1px solid orange;
	padding:5px;
}

#result table {
	border-collapse: collapse;
	border-spacing: 0px;
}